@import url("palette.css");

.album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin: 1%;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.album-image {
    width: 3rem; /* Imposta la larghezza desiderata */
    height: auto; /* Imposta l'altezza desiderata */
    object-fit: cover;

    border-radius: 8px;
    margin-bottom: 16px;
}

.album-name {
    font-size: 1.5rem !important;
}