@import url("palette.css");

.myAppBar {
    background-color: var(--primary-color);
}

.navbar-height {
    height: 6vh;
}

.customLabel {
    color: var(--text-color) !important
}

.history-icon {
    color: var(--text-color) !important
}