@import url("palette.css");
.myAppBar {
  background-color:var(--primary-color);
  }
  .customLabel{
    color: var(--text-color) !important
  }

  .history-icon{
    color: var(--text-color) !important
  }