@import url("palette.css");

.icon-button {
    color: var(--text-color) !important;
    font-size: xx-large !important;
}

.icon-button-small {
    color: var(--text-color) !important;
    font-size: medium !important;
}

.top-tracks-section {
    background-color: var(--background-color);
}

.add-button {
    color: var(--secondary-color) !important;
    background-color: inherit !important;
    border-radius: 500px !important;
    border: solid 1px var(--secondary-color) !important;
}

.info-button, .info-admin-button {
    color: var(--secondary-color) !important;
    background-color: inherit !important;
    border-radius: 500px !important;
    border: solid 1px var(--secondary-color) !important;
}

.delete-icon {
    color: var(--delete-color) !important;
}

.edit-button {
    background-color: inherit !important;
    color: var(--edit-color) !important;
    border-radius: 500px !important;
    border: solid 1px var(--edit-color) !important;
}

.delete-button {
    background-color: inherit !important;
    color: var(--delete-color) !important;
    border-radius: 500px !important;
    border: solid 1px var(--delete-color) !important;
}

.add-button:hover {
    background-color: var(--secondary-color) !important;
    color: white !important;
}

.delete-button:hover {
    background-color: var(--delete-color) !important;
    color: white !important;
}

.info-admin-button:hover {
    background-color: var(--delete-color) !important;
    color: white !important;
    border: solid 1px var(--delete-color) !important;
}

.edit-button:hover {
    color: white !important;
    background-color: var(--edit-color) !important;
}

.title-section {
    margin: 4% !important;
    color: var(--text-color)
}

.save-changes {
    padding: 15px !important;
    margin: 1% 0 1% 5% !important;
    margin-bottom: 10px !important;
    border-radius: 500px !important;
    height: 50%;
    background-color: var(--secondary-color) !important;
}

.cancel-changes {
    padding: 15px !important;
    margin: 1% 0 1% 1% !important;
    margin-bottom: 10px !important;
    border-radius: 500px !important;
    height: 50%;
    background-color: var(--edit-color) !important;
}

.input-playlist {
    width: 70% !important;
    padding: 10px;
    margin: 1% 0 !important;
    font-size: 14px;
    border-radius: 500px;

}

.input-new-playlist {
    width: 40% !important;
}

.input-playlist input,
.input-new-playlist input,
.input-add-tags input {
    color: var(--text-color);
    border-radius: 500px; /* Cambia il colore del testo all'interno dell'input */
}

.input-playlist label,
.input-new-playlist label,
.input-add-tags label {
    color: var(--text-color);
    border-radius: 500px; /* Cambia il colore del testo di default (label) */
}

.input-playlist label.MuiInputLabel-shrink,
.input-new-playlist label.MuiInputLabel-shrink,
.input-add-tags label.MuiInputLabel-shrink {
    color: var(--text-color); /* Cambia il colore del label quando è shrink (quando l'utente scrive nell'input) */
}

.input-playlist .MuiOutlinedInput-notchedOutline,
.input-new-playlist .MuiOutlinedInput-notchedOutline,
.input-add-tags .MuiOutlinedInput-notchedOutline {
    border-color: var(--text-color);
    border-radius: 500px; /* Cambia il colore del bordo dell'input */
}

.input-playlist .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.input-new-playlist .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.input-add-tags .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--text-color); /* Cambia il colore del bordo quando l'input è in hover */
}

.input-playlist .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.input-new-playlist .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.input-add-tags .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--text-color); /* Cambia il colore del bordo quando l'input ha il focus */
}

.input-playlist .MuiFormHelperText-root,
.input-new-playlist .MuiFormHelperText-root,
.input-add-tags .MuiFormHelperText-root {
    color: var(--text-color); /* Cambia il colore del testo dell'helper text (se presente) */
}

.css-mhc70k-MuiGrid-root {
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
}

.css-a5rdam-MuiGrid-root {
    width: 100% !important;
}

.vh20 {
    height: 20%;
}

.vh30 {
    height: 30%;
}

.vh33 {
    height: 33.3%;
}

.vh10 {
    height: 10%;
}

.playlist-name {
    font-size: 2.5rem !important;
}

@media screen and (max-width: 767px) {
    .info-section {
        height: 35vh;
    }

    .playlist-name {
        font-size: 1.5rem !important;
    }
}