@import url("palette.css");
.artist-container {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.artist-avatar-info {
  display: flex;
  align-items: center;
  height: 60vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Imposta l'opacità del colore nero come sfondo per l'avatar e le informazioni */
}

.artist-avatar {
  margin: 20px;
width: 20% !important;
  height: auto !important;
}

.artist-info {
  padding-left: 5%; /* Spazio tra l'avatar e le informazioni */
  color: white; /* Testo bianco per contrastare con lo sfondo scuro */
}
.playlist-image {
  width: 100%;
  height: auto;
}

.playlist-info-container {
  color: var(--text-color) !important;
  height: 25%;
  margin-left:5%;
  display: flex;
  align-items: center;
}
.carousel-item-album{
  margin-right: 15px;
}




.top-tracks-section{
    width: 100%;
    color: var(--text-color) !important;
}