@import url("palette.css");
.circular-image {
    width: 150px; /* Imposta la larghezza dell'area circolare */
    height: 150px; /* Imposta l'altezza dell'area circolare */
    border-radius: 50%; /* Rende l'immagine circolare */
    overflow: hidden; /* Nasconde eventuali parti dell'immagine che escono dall'area circolare */
  }
  
  .circular-image img {
    width: 100%; /* Assicura che l'immagine copra l'intera area circolare senza distorsioni */
    height: 100%; /* Assicura che l'immagine copra l'intera area circolare senza distorsioni */
  }

  .circular-card{
    width: 150px; /* Imposta la larghezza dell'area circolare */
    height: 200px; /* Imposta l'altezza dell'area circolare */
    border-radius: 30%; /* Rende l'immagine circolare */
    overflow: hidden; /* Nasconde eventuali parti dell'immagine che escono dall'area circolare */
    background-color: var(--primary-color) !important;
  }
  .artist-name{
    font-size: 1rem !important;
    text-align: center;
  }
