@import url("palette.css");
.home-section {
  background-color: var(--primary-color);
}
.home-section h2 {
  color: var(--text-color);
}
.home-box {
  background-color: var(--primary-color);
  margin: 0;
  height: 100% !important;
}
.carousel-item {
  margin-right: 20px;
  width: 100% !important;
}
.carousel-item-playlist {
  margin-right: 20px;
}
body {
  margin: 0;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
