@import url("palette.css");
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--primary-color);
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: auto;
  width: 100%;
}

.div-playlists{
  height: 45vh;
}
.div-icons{
  height: 40vh;
}
.div-img{
  height: 10vh;
}
.div.text{
  height: 5vh;
}