@import url("palette.css");
.sidebarOption {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  color: var(--third-color);
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  color: var(--text-color);
}

.sidebar > hr {
  border: 1px solid var(--primary-color);
  width: 90%;
  margin: 10px auto;
}

.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 2em !important;
  height: 2em !important;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
